.top {
  background-color: orange;
  height: 50px;
  color: white;
  font-size: 20pt;
  width: 100%;
  margin-bottom: 20px;
}

.toptext {
  display: inline;
  float: right;
  margin-right: 5px;
  font-size: 15pt;
  margin-top: 6px;
}

a {
  text-decoration: none;
  color: white;
  font-size: large;
  margin-left: 30px;
  margin-right: 50px;
}

.buttons {
  margin-top: 30px;
  display: flex;
  justify-content: right;
}
button {
  margin-left: 30px;
}
.form-small {
  color: gray;
  font-size: 10px;
  padding: 5px;
}
.form-button {
  margin-top: 10px;
  float: right;
}
.form-checkbox {
  padding: 10px;
}
.form-checkbox input {
  margin-right: 10px;
}
.form-checkbox label {
  padding-right: 10px;
}
.form-checkbox-second {
  left: 100px;
  position: relative;
}
.footer {
  height: 30px;
  background-color: gray;
  position: absolute;
  bottom: 0px;
  width: 100%;
}
.footer p {
  left: 50px;
  position: relative;
  color: aliceblue;
  width: 400px;
}
