.top{
    background-color: rgb(0, 168, 235);
    height: 50px;
    color: white;
    font-size: 20pt;
    width: 100%;
    margin-bottom: 20px;

}

.toptext{
    display: inline;
    float: right;
   margin-right: 5px;
   font-size: 15pt;
   margin-top: 6px;
}

a{
    text-decoration: none;
    color: white;
    font-size: large;
    margin-left: 30px;
    margin-right: 50px;
}

.buttons{
    margin-top: 30px;
    display: flex;
    justify-content: right;
}
button{
    margin-left: 30px;
}
